*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Philosopher Regular';
    src: url('../fonts/Philosopher.eot');
    src: url('../fonts/Philosopher.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Philosopher.woff') format('woff'),
    url('../fonts/Philosopher.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
html{
    font-family: 'Roboto Regular';
}

body{
	background-color: #ffe2b0;
}

header{
	text-align: center;
	margin-bottom: 20px;
}


nav ul{
	list-style-type: none;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
    font-family: 'Roboto Bold';
}

nav li{
	display: inline;
	margin-right: 100px;
}

nav li:last-child{
	margin: 0;
}


nav a{
	color:black;
	text-decoration: none;
	font-size:18px;
}


nav{
	margin-bottom: 20px;
}

.section_about{
    height: 640px;
    background: url(../img/01-fon.jpg) center/cover;
    margin-bottom: 20px;
}


.div_about {
    position: relative;
    top: 55%;
    left: 51%;
    height: 190px;
    width: 420px;
    background:linear-gradient(180deg, rgba(244,213,178,0.8) 0%,
                                        rgba(234,156,65,0.8)100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_about_border{
    height: 160px;
    width: 390px;
    border: 1px solid #000000;

    padding:17px 0px 0px 28px;
}

.div_about_border  h1{
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Philosopher Regular';
}

.div_about_border p{
    font-size: 12px;
    margin: 0;
}

.section_description{
    margin-bottom: 20px;
}

.section_description_icon-box {
    text-align: center;    
    margin-bottom: 20px;
}

.section_description_icon-box img{
    margin-right: 76px;
}

.section_description_icon-box img:last-child {
    margin: 0;
}


.section_description_text-box h2{
    font-size: 96px;
    margin: 0;
    text-align: center;
    font-family: 'Philosopher Regular';
}

.section_description_text-box span{
    color: #f15b40;
}

.section_description_text-box p{
    font-size: 18px;
    margin: 0;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

.section_map{
    margin-bottom: 20px;
}

.section_map h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Philosopher Regular';
}

.section_map iframe{
    display: block;
    margin: 0 auto;
}

footer{
    min-height: 60px;
}

footer hr{
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer nav{
    margin: 0;
}